<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ca.project.R_board">
	
	<!--글쓰기  -->
	<insert id="insert">
		insert into tbl_reviewBoard(rb_no, rb_writer, rb_title, rb_content, rb_wineCode)
		values((select NVL2(max(rb_no), max(rb_no)+1, 1) from tbl_reviewBoard), #{rb_writer}, #{rb_title}, #{rb_content}, #{rb_wineCode})
	</insert>
	
	<!--글목록  -->
	<select id="getAmount" resultType="Integer">
		select count(rb_no) from tbl_reviewBoard	
	</select>
	<select id="getListpage" resultType="ca.project.DTO.R_boardVO">
		<![CDATA[
			select
				r.rb_no, r.rb_title, r.rb_writer, r.rb_regdate, r.rb_readcnt,
				w.wine_code, w.wine_name, w.wine_img, w.wine_thumbimg, w.wine_type, w.wine_price
			from tbl_reviewBoard r
				inner join tbl_wine w
				on r.rb_wineCode = w.wine_code 
			order by r.rb_no desc
		]]>
	</select>
	
	<!--글 자세히 보기  -->
	<select id="read" resultType="ca.project.DTO.R_boardVO">
		select
				r.rb_no, r.rb_title, r.rb_writer, r.rb_regdate, r.rb_readcnt, r.rb_content,
				w.wine_code, w.wine_name, w.wine_img, w.wine_thumbimg, w.wine_type, w.wine_price
			from tbl_reviewBoard r
				inner join tbl_wine w
				on r.rb_wineCode = w.wine_code
			where r.rb_no = #{rb_no} 
			order by r.rb_no desc
	</select>
	<!--조회수 증가  -->
	<update id="updateRb_readcnt">
		<![CDATA[
			update tbl_reviewBoard
			set rb_readcnt = rb_readcnt + 1 
			where rb_no = #{rb_no}
		]]> 
	</update>
	
	<!--댓글 목록  -->
	<select id="replyList" resultType="ca.project.DTO.R_board_ReplyVO">
		<![CDATA[
			select rpy_no, rpy_bno, rpy_writer, rpy_content, rpy_regdate
			from tbl_reviewBoardReply
			where rpy_bno = #{rb_no}
		]]>
	</select>
	
	
	<!--글 수정하기  -->
	<update id="update">
		update tbl_reviewBoard
		set rb_title = #{rb_title}, rb_content = #{rb_content}, rb_regdate = sysdate
		where rb_no = #{rb_no}
	</update>
	
	<!--글 삭제하기  -->
	<delete id="delete">
		delete from tbl_reviewBoard where rb_no = #{rb_no} 
	</delete>
	
	
	<!-- 사용자 구매상품 목록보기 -->
	<select id="orderWineList" resultType="ca.project.DTO.WineDTO">
		<![CDATA[
			select
				w.wine_code, w.wine_name
			from tbl_order o
				inner join tbl_order_details od
				on o.order_idnumber = od.od_orderIdnumber 
				inner join tbl_wine w
				on od.od_wineCode = w.wine_code
			where o.order_memId = #{mem_id} 
			and o.order_state = 1 
			and o.order_cancel = 0
			order by o.order_no asc
		]]>
	</select>
	
	
	
	
	
</mapper>